.cardContainer {
  display: flex;
  padding: 8px 16px;
  border: 1px solid black;
  justify-content: space-between;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto 30px auto;
}

.cardText {
  width: 70%;
}

.cardDetails {
  width: 30%;
}

.cardDetails > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.authorsList {
  list-style: none;
  padding-left: 0;
  display: inline;
  overflow: hidden;
}

.authorsList li {
  display: inline;
  margin-right: 5px;
  overflow: hidden;
}
