.headerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px 0 #00000026;
  padding: 12px 30px;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 50px;
}
